<header>
  <div class="container">
    <svg viewBox="0 0 68 32" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo"><path d="M48.3047 9.0545C50.3399 7.59022 52.8283 6.7292 55.5152 6.7292C62.3974 6.72924 67.9766 12.3775 67.9766 19.3448C67.9766 26.3122 62.3974 31.9604 55.5152 31.9604C52.8283 31.9604 50.3399 31.0993 48.3047 29.635V31.555H42.3477V0.0241852H48.3047V9.0545ZM55.1621 12.2502C51.2918 12.2502 48.1543 15.4265 48.1543 19.3448C48.1543 23.2631 51.2918 26.4395 55.1621 26.4395C59.0324 26.4395 62.17 23.2631 62.17 19.3448C62.17 15.4265 59.0324 12.2502 55.1621 12.2502Z" fill="currentColor"></path><path d="M40.8827 7.11552V13.1463H32.9087C32.5996 13.1463 32.3492 13.3999 32.3492 13.7128V31.5651H26.3921V15.6132C26.3921 10.92 30.1501 7.11552 34.7858 7.11552H40.8827Z" fill="currentColor"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M12.489 6.72325C19.3587 6.72326 24.9276 12.3739 24.9276 19.3442C24.9276 26.3145 19.3587 31.9652 12.489 31.9652C5.61949 31.9652 0.0505721 26.3145 0.0505371 19.3442C0.0505371 12.3739 5.61947 6.72325 12.489 6.72325ZM12.489 12.2384C8.61264 12.2384 5.47016 15.4198 5.47016 19.3442C5.4702 23.2686 8.61266 26.4501 12.489 26.4501C16.3654 26.4501 19.5079 23.2686 19.508 19.3442C19.508 15.4198 16.3656 12.2384 12.489 12.2384Z" fill="currentColor"></path></svg>

    <a href="https://www.withorb.com/contact-us" class="button">Contact sales</a>
  </div>
</header>

<style>

  header {
    min-height: 100px;
    padding: 2em 0;
  }
  .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 80px;
    height: auto;
  }

  .button {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 1em 2em;
    font-size: 16px;
    color: #fff;
    display: block;
    background: #000;
    text-decoration: none;
    font-family: var(--font-mono);
  }
</style>
